@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

:root {
    --font-normal: 'Pretendard JP', 'Pretendard', 'Pretendard Variable', sans-serif;
    --font-numeric: 'Novecento Sans Wide', 'novecento-sans-wide', 'Pretendard JP', 'Pretendard', 'Pretendard Variable', sans-serif;
}

html, body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;

    font-family: var(--font-normal);
}

* {
    box-sizing: border-box;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    background: none;
    font: inherit;
    color: inherit;

    user-select: none;
}

input, select {
    font: inherit;
    color: inherit;
}

.iidx-title {
    display: block;
    background: none;

    min-height: 0;
    overflow: hidden;
    text-align: center;
}
.iidx-title.large {
    font-size: 52px;
    font-weight: 900;
}
.iidx-title > span, .iidx-title-inline {
    background-image: linear-gradient(to bottom, #fff, #888);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.iidx-title.new > span, .iidx-title-inline.new {
    background-image: linear-gradient(to bottom, #fff, #2fe);
}
